@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

input[type="search"],
input[type="text"],
input[type="url"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="file"] {
  appearance: none;
  border-radius: 0;
}

textarea {
  vertical-align: middle;
  appearance: none;
  border-radius: 0;
}

a,
input,
textarea {
  outline: none !important;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
  vertical-align: middle;
}

#iframe-content {
  border: 0;
  box-shadow: none;
}
