*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 4px;
  margin: 0;
  font-size: 14px;
  line-height: 1.25;
  font-weight: 400;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

.brick {
  width: 40px;
  height: 20px;
  background: #ee6b47;
  position: relative;
  cursor: pointer;
}

.path {
  outline: 1px solid #e8c48e;
  width: 540px;
  height: 20px;
}

p {
  margin-bottom: 2px;
  margin-top: 2px;
}

.animation-container {
  padding: 8px 4px;
  border: 1px solid #ccc;
  margin-bottom: 8px;
}

#field {
  height: 200px;
  border-bottom: 3px black groove;
  position: relative;
  border: 1px solid;
  padding: 4px;
}

#ball {
  position: absolute;
  cursor: pointer;
}

h2 {
  margin-bottom: 2px;
}
